body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;

	color: #bdc3c7;
	background-color: rgb(32, 32, 32);
}

h1, h2, h3, h4 {
	color: #ecf0f1;
}

a {
	color: #e67e22;
}

a:hover {
	color: #d35400;
}

a:active {
	color: #c0392b
}


#container {
	width: 960px;
	margin: 0 auto;
	padding: 32px 20px;
}

#canvasContainer {
	background-color: #2c3e50;
	margin: 20px 0;
}

#controls {
	margin: 20px 0;
}

#canvas {
	margin: auto;
    display: block;
}

.highlight {
	font-weight: bold;
	color: #ecf0f1
}

.section {
	margin-bottom: 48px;
}

.button {
	cursor: pointer;
	user-select: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 8px 0;
	font-size: 14px;

	background-color: #2c3e50;
	color: #ecf0f1;
}
.button:hover {
	background-color: #34495e;
}

#tickContainer {
	float: right;
}

#tickRate {
	display: inline-block;
	text-align: center;
	width: 28px;
	cursor: help;
}

#controls > .button {
	min-width: 96px;
	margin-right: 2px;
}

#tickContainer > .button {
	min-width: 32px;
	margin-left: 2px;
}

#footer {
	font-size: 12px;
	text-align: center;
	width: 100%;
	margin-top: 64px;
}

li {
	padding: 4px 0;
}
